<h1>Home</h1>
<br />
This is the Home/Splash page of the web app.<br />
Designing will come soon!!!<br /><br />

<%= link_to "Start Chatting Now!!!", index_path %><br />
<%= link_to "Sign up now!!!", signup_path %>

